@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
.signIn{
    font-family: "Open Sans";
}
.log{
    margin-top: 9%;
}

.login-form{
    background: #2D2D42;
    border-radius: 0px 10px 10px 0px;
    padding: 0;
    height: 450px;
}
.pic-form{
    border-radius: 10px 0px 0px 10px;
}
.data{
    margin-top: 10%;
}
.login-pic{
    padding: 0;
    position: absolute;
    height: 460px;
    width: 620px;
    left: -40px;
}
p{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.head_login{
    padding-top: 40px;
    padding-bottom: 40px;
}


.form-control{
    background: #29293D;
    border-radius: 6px;
    width: 250px;
    height: 33px;
    color: #FFFFFF;
}

input{
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
}

.password-control {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 70px;
    -webkit-text-security: disc;
}

.passEye{
    top: 56%;
    cursor: pointer;
}

.btn_and_link{
    margin-top: 22%;
}
